<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ShimmerCaptureXamarin.ShimmerCaptureXamarin" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="13" />
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
  <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
  <application android:label="ShimmerCaptureXamarin"></application>
</manifest>